$icons: (
    'home': (
        tooltip: "Home",
        unicode: "\f015"
    ),
    'folder': (
        tooltip: "Work",
        unicode: "\f07b"
    ),
    'email': (
        tooltip: "Email",
        unicode: "\f0e0"
    ),
    'twitter': (
        tooltip: "Twitter",
        unicode: "\f099"
    ),
    'r-arrow': (
        tooltip: "Work",
        unicode: "\f054"
    )
);

.icon {
    color: $color-white--base;
    display: block;
    font-size: 2em;
    height: 1.5em;
    line-height: 1.35em;
    margin: 0 0.25em;
    opacity: 0.5;
    text-align: center;
    width: 1.5em;

    @each $key, $icon in $icons {
        &--#{$key} {
            &:before {
                content: map-get($icon, unicode);
                display: block;
                font-family: "FontAwesome";
            }

            &:hover {
                cursor: pointer;
                opacity: 1;

                & + .tooltip {
                    display: block;

                    &:before {
                        content: map-get($icon, tooltip);
                    }
                }
            }
        }

        @include media-q {
            font-size: 40px;
        }
    }

    &--box {
        font-size: 2em;
        height: auto;
        left: 50%;
        margin: 0;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
    }
}