.modal {
      background: $color-white--base;

      width: 86vw;

      @include media-q {
            width: 50vw;
      }

      &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            height: 50px;

            color: $color-white--base; // diminuir largura
            line-height: 50px;
            text-align: center;

            background: $color-blue--twitter;

            @include media-q {
                  height: 80px;
                  line-height: 80px;
            }

            &__photo {
                  background: url("/images/me-twitter.jpg");
                  background-repeat: no-repeat;
                  background-size: cover;

                  display: block;
                  flex: 1;
            }

            &__logo {
                  flex: 3;
                  font-size: 2em;

                  @include media-q {
                        flex: 6;
                        font-size: 3.5em;
                  }
            }

            &__close {
                  flex: 1;
                  font-size: 3.5em;

                  @include media-q {
                        font-size: 7em;
                  }
            }
      }

      &__content {
            display: flex;
            flex-direction: row;

            .m-icon {
                  padding: 12px 5px;

                  height: 100%;

                  background: $color-grey--light;
                  color: $color-white--base;
                  font-size: 1.5em;
                  text-align: center;

                  @include media-q {
                        padding: 18px 5px;
                        font-size: 2.5em;
                  }

                  &--margin {
                        margin-top: 2px;
                  }

                  &--back-blue {
                        background: $color-blue--twitter;
                  }

                  &--back-blue-light {
                        background: $color-blue--light;
                  }

                  &--text-white {
                        color: $color-white--base;
                  }

                  &--text-blue {
                        color: $color-blue--twitter;
                  }
            }

            &__left {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
             }

             &__right {
                  display: flex;
                  flex-direction: column;
                  flex: 1;
             }

             &__center {
                  flex: 3;

                  @include media-q {
                    flex: 6;
                  }

                  &__text {
                      padding: 10px;
                      border: none;
                      resize: none;

                      height: 100%;
                      width: 100%;

                      @include media-q {
                            padding: 15px;
                            font-size: 1.2em;
                      }
                  }
             }
      }
}
