$max_tabs: 3;

.tabs {
    &__menu {
        display: flex;
        flex-direction: row;
        height: 95px;
        justify-content: center;
        margin-top: 8px;
    }

    &__input {
        display: none;

        @include media-q {
            @for $i from 1 through $max_tabs {
                &:nth-of-type(#{$i}):checked ~ .tabs__content :nth-child(#{$i}) {
                    display: flex;
                }

                &:nth-of-type(#{$i}):checked ~ .tabs__menu .icon:nth-of-type(#{$i}) {
                    position: relative;
                    opacity: 1;

                    &:after {
                        border-style: solid;
                        border-width: 0 25px 25px 25px;
                        border-color: transparent transparent $color-white--base transparent;
                        content: '';
                        height: 0;
                        position: absolute;
                        transform: translate(-50%, 65%);
                        width: 0;
                    }
                }
            }

            &:nth-of-type(4):checked ~ .tabs__menu .icon:nth-of-type(4) { // twitter
                position: relative;
                opacity: 1;
            }
        }
    }

    &__content {
        &__tab {
            align-items: center;
            background: $color-white--base;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 7px;
            padding: 15px;
            text-align: center;

            .header {
                margin-bottom: 1.5em;
                padding-top: 1em;

                &--mrg-btm {
                    margin-bottom: 0.5em;
                }

                &--width {
                    width: 100%;
                }

                @include media-q {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 2.5em;
                }

                &--align-left {
                    text-align: left;

                    @include media-q {
                        margin-left: 0;
                    }
                }
            }

            @include media-q {
                display: none;
                flex-direction: row;
                justify-content: space-between;
                height: 400px;
                margin-bottom: 3em;
            }

            &--work {
                @include media-q {
                    align-items: center;
                    display: none;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    margin-bottom: 3em;
                    padding: 50px 30px;
                }
            }

            &--contact {
                @include media-q {
                    align-items: center;
                    display: none;
                    flex-direction: column;
                    height: 100%;
                    justify-content: center;
                    padding: 50px 30px;
                }
            }
        }
    }
}